
body {
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.6;
  background-color: white;
  color: rgb(45, 47, 50);
}

h1{
  text-align: center;
  font-size: 36px;
  padding-top: 40px;
  height: 50%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 20px;
}

a:link, a:visited {
  text-decoration: none !important;
  text-transform: none !important;
  color: #ef4c50;
  border-bottom: 2px solid #ef4c50; 
}

a:hover, a:active {
   color: #AF383B;
}


/* navbar */
.navbar {
  background-color: white;
  color: #ef4c50;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-size: 18px;
}

a.nav-link:hover, a.navbar-brand:hover{
  border-bottom: 2px solid #ef4c50;
  color: #ef4c50;
}
a.nav-link, a.navbar-brand{
  color: rgb(45, 47, 50);
  border-bottom: 2px solid #fff;
}


/* header text and sketch */
.header{
  position: relative; 
  left: 50%; top: 50%;
  width: 630px; 
  height: 260px; 
  transform: translate(-44%, 0);
}
.header-text{
  position: relative;
  float: left;
  width: 210px;
  height: 240px;
  display: none;
}
.header-blg {
  font-family: 'Montserrat', sans-serif;
  font-size: 180px;
  color: black;
  position: absolute;
  bottom: 100px;
  line-height: 20px;
}
#header-sketch { 
  float: left;
  display: none;
}


/* card for each post */
.card-img {
  border-radius: 50%;
  padding: 0 !important;
  margin-bottom: 40px;
  margin-left: .9375rem;
  padding-left: 10px;
  float: left;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 10px;
  margin-bottom: 50px;
  box-sizing: border-box;
  border-radius: 2px;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 18px;
  position: relative;
  line-height: 1.5;
  text-align: justify;
}
.info {
  color: #818a91;
  text-align: center;
  font-size: 14px;
}

.text-center{
  text-align: center;
}


/* button to expand post*/
.button {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #ef4c50;
  color: black;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
}

.button > paper-ripple {
  border-radius: 2px;
  overflow: hidden;
}

.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

.collapse {
  padding-top: 50px;
}

.page-navigation{
  right: 0;
  position: absolute;
  left: 0;
  text-align: center;
}


/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}
::-webkit-scrollbar-track-piece  { 
  background:rgb(220,220,220); 
}
::-webkit-scrollbar-thumb:vertical {
    height: 6px;
    background-color: #666;
    -webkit-border-radius: 6px;
} 

/* Selection color */
::selection {
  background: #ef4c50; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ef4c50; /* Gecko Browsers */
}